# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Virtual environment folders
env/
venv/

# Dataset archives
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store
Thumbs.db

# Logs
*.log